KANIDM_PASSWORD=
KANIDM_USERNAME=idm_admin
KANIDM_URL=https://localhost:18443
KANIDM_DASHBOARD_URL=https://localhost:9443
KANIDM_INSECURE_TLS=true
E2E_SCREENSHOT_DIR=/tmp
MAILPIT_API_URL=http://localhost:18025
